

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #2f4270;
    -fx-text-fill: #7bcfa5;
 
}

.list-cell:odd {
    -fx-cell-hover-color: #0093ff;
    -fx-background-color: #00000000;
    -fx-text-fill: #7bcfa5;

}
.list-cell:even {
    -fx-cell-hover-color: #0093ff;
    -fx-background-color: #00000000;
    -fx-text-fill: #7bcfa5;
}

.list-cell:filled:hover {
    -fx-cell-hover-color: #0093ff;
    -fx-text-fill: white;
}

.list-cell{
    -fx-font-size:17.0;
}

.list-view{
	
	-fx-background-color: #00000000;
	-fx-overflow: hidden;
}



